<div class="row text-center">
    <div class="col-sm-0 col-md-1"></div>
    <div class="col-sm-12 col-md-10 center-window">
        <%= image_tag 'logo.png' %>
        <h1>Vida universitaria hecha simple</h1>
        <%= generate_link %>
        <%= teachers_link %>
        <div class="row" style="margin-top:50px">
          <%= phone_link %>
        </div>
    </div>
    <div class="col-sm-0 col-md-1"></div>
</div>
