<div class="container text-center">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 center-window">
			<%= image_tag 'logo.png' %>
			<h1>Generador de horarios</h1>
			<%= link_to 'Ir al generador', home_generate_path, class: 'btn btn-primary btn-lg goto' %>
			<div class="row">
				<h2>Siguenos:</h2>
				<a href="https://www.facebook.com/rfrm92" target="_blank">
					<%= image_tag "/assets/fcb.png" %>
				</a>
				<a href="https://twitter.com/rfrodriguez1992" target="_blank">
					<%= image_tag "/assets/twitter.png" %>
				</a>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
