<div class="row text-center">
    <div class="col-sm-0 col-md-1"></div>
    <div class="col-sm-12 col-md-10 center-window">
        <%= image_tag 'logo.png' %>
        <h1>Vida universitaria hecha simple</h1>
        <%= generate_link %>
        <%= teachers_link %>
        <div class="row" style="margin-top:50px">
          <%= image_tag 'whatsapp-logo-vector.png', style: "width:50px;heigth:50px"%><a href="tel://3007642278" class='linkwa'>3007642278</a>
        </div>
    </div>
    <div class="col-sm-0 col-md-1"></div>
</div>
