<script type="text/javascript">
  var subjectOptions = new Backbone.Collection;
  subjectOptions.reset(<%= @subjects.to_json(only: [:name, :code]).html_safe %>);
</script>

<div id="searchBar"></div>
<div id="teacher"></div>
