/* 
 *= require foundation
 *= require_self
 */

 @import 'foundation-icons';

ul{
	margin: 0;
}

.medium {
	font-size: 35px;
	padding: 0 5px;
}

.optionList {
	list-style-type: none;
}

.searchOption:hover i {
	display: inline-block;
	position: absolute;
	right: 15px;
}
