@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body{
	margin-top: 5px;
	font-family: 'Karla', sans-serif;
}

button span{
	color: green;
}

th{
	width: 14.28%;
}

#message-div p{
	display: inline-block;
	margin: 0;
	margin-top: 4px
}

#subject-wrapper{
	margin-top: 20px;
}

#schedule-table th{
	/*font-size: 9px;*/
	text-align: center;
}

#schedule-table td{
	font-size: 9px;
	text-align: center;
}

#schedule-table .ui-selected {
	background-color: rgb(169, 68, 66) !important
}

#schedule-table .ui-selecting {
	background-color: rgb(242, 222, 222) !important 
}

.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.banned{
	background-color: red;
}

.col-sm-10 p{
	margin-top: 5px;
	margin-bottom: 0px;
}

.glyphicon{
	font-size: 20px;
}

.list-group{
	margin-bottom: 0;
}

.list-group-item {
	font-size: 14px;
}

.panel-heading h5{
	margin-top: 0;
	margin-bottom: 0;
}

.tachado{
	text-decoration:line-through;
}

.wait{
	width: 32px;
	height: 32px;
}

.wait.waiting{
	background: url(/assets/ajax-loader.gif) no-repeat;
}

.block{
    cursor:pointer;
}
